<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>hello world!!!!!!</title>
  </head>
  <body>
    <h1>hello world</h1>
    <p>the date is <%= date %></p>
    <% if (imageUrl) { %>
      <p>image of cat</p>
      <img alt="cat" src="<%= imageUrl %>" />
    <% } else { %>
      <p>error fetching cat image :( </p>
      <p>please try again</p>
    <% } %>
  </body>
</html>
